@font-face {
  font-family: "Muller";
  font-weight: 400;
  font-style: normal;
  src: local("Muller Regular"), local("Muller-Regular"),
    url("../fonts/Muller-Regular.woff2") format("woff2"),
    url("../fonts/Muller-Regular.woff") format("woff"),
    url("../fonts/Muller-Regular.eot") format("eot");
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  src: local("Muller Bold"), local("Muller-Bold"),
    url("../fonts/Muller-Bold.woff2") format("woff2"),
    url("../fonts/Muller-Bold.woff") format("woff"),
    url("../fonts/Muller-Bold.eot") format("eot");
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  font-weight: 800;
  font-style: normal;
  src: local("Muller Extra Bold"), local("Muller-ExtraBold"),
    url("../fonts/Muller-ExtraBold.woff2") format("woff2"),
    url("../fonts/Muller-ExtraBold.woff") format("woff"),
    url("../fonts/Muller-ExtraBold.eot") format("eot");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
table,
tr,
th,
td,
article,
aside,
menu,
nav,
section,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

nav ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Muller", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  background-color: #ffaf18;
  border: none;
}

.header {
  box-shadow: 0px 3px 14px 1px rgba(152, 152, 152, 0.2);
}

.header__inner {
  display: flex;
  align-items: center;
}

.logo {
  padding: 15px 0;
}

.menu {
  margin-left: 249px;
}
.menu__list {
  display: flex;
  padding: 43px 0;
}

.menu__list-item {
  margin-left: 50px;
}
.menu__list-item:first-child {
  margin-left: 0;
}

.menu__list-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.2;
  color: #a46b00;
}

.top {
  background-image: url(../images/top-bg.png);
  background-repeat: no-repeat;
  background-position: top 325px right 11px;
}

.top__content {
  padding-top: 133px;
  padding-bottom: 160px;
  max-width: 737px;
}

.top__title {
  padding-top: 132px;
  font-size: 45px;
  line-height: 55px;
  font-weight: 800;
  color: #b99150;
  margin-bottom: 59px;
}

.top__title--color {
  color: #ffaf18;
}

.top__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 612px;
}
.top__item {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 47px;
}
.top__icon {
  width: 60px;
  height: 60px;
}
.top__desc {
  padding-left: 17px;
}
.top__desc-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffaf18;
}

.top__text {
  font-size: 16px;
  line-height: 16px;
  color: #b99150;
}

.top__btn {
  font-size: 16px;
  line-height: 55px;
  font-weight: 700;
  color: #382400;
  width: 224px;
  height: 60px;
  cursor: pointer;
}
