@font-face {
  font-family: "Muller";
  font-weight: 400;
  font-style: normal;
  src: local("Muller Regular"), local("Muller-Regular"),
    url("../fonts/Muller-Regular.woff2") format("woff2"),
    url("../fonts/Muller-Regular.woff") format("woff"),
    url("../fonts/Muller-Regular.eot") format("eot");
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  font-weight: 700;
  font-style: normal;
  src: local("Muller Bold"), local("Muller-Bold"),
    url("../fonts/Muller-Bold.woff2") format("woff2"),
    url("../fonts/Muller-Bold.woff") format("woff"),
    url("../fonts/Muller-Bold.eot") format("eot");
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  font-weight: 800;
  font-style: normal;
  src: local("Muller Extra Bold"), local("Muller-ExtraBold"),
    url("../fonts/Muller-ExtraBold.woff2") format("woff2"),
    url("../fonts/Muller-ExtraBold.woff") format("woff"),
    url("../fonts/Muller-ExtraBold.eot") format("eot");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
table,
tr,
th,
td,
article,
aside,
menu,
nav,
section,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

nav ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Muller", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  background-color: #ffaf18;
  border: none;
  cursor: pointer;
}

.header {
  box-shadow: 0px 3px 14px 1px rgba(152, 152, 152, 0.2);
}

.header__inner {
  display: flex;
  align-items: center;
}

.logo {
  padding: 15px 0;
}

.menu {
  margin-left: 249px;
}
.menu__list {
  display: flex;
  padding: 43px 0;
}

.menu__list-item {
  margin-left: 50px;
}
.menu__list-item:first-child {
  margin-left: 0;
}

.menu__list-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.2;
  color: #a46b00;
}

.top {
  background-image: url(../images/top-bg.png);
  background-repeat: no-repeat;
  background-position: top 325px right 11px;
}

.top__content {
  padding-top: 133px;
  padding-bottom: 160px;
  max-width: 737px;
}

.top__title {
  padding-top: 132px;
  font-size: 45px;
  line-height: 55px;
  font-weight: 800;
  color: #b99150;
  margin-bottom: 59px;
}

.title--orange {
  color: #ffaf18;
}

.top__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 612px;
}
.top__item {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 47px;
}
.top__icon {
  width: 60px;
  height: 60px;
}
.top__desc {
  padding-left: 17px;
}
.top__desc-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffaf18;
}

.top__text {
  font-size: 16px;
  line-height: 16px;
  color: #b99150;
}

.top__btn {
  font-size: 16px;
  line-height: 55px;
  font-weight: 700;
  color: #382400;
  width: 224px;
  height: 60px;
}

.catalog {
  padding-bottom: 177px;
}

.catalog__title {
  text-align: center;
  font-size: 35px;
  line-height: 55px;
  font-weight: 700;
  color: #bd985c;
  margin-bottom: 86px;
}

.catalog__items {
  display: flex;
  flex-wrap: wrap;
}

.catalog__wrapper {
  width: calc(100% / 4);
  margin-bottom: 24px;
  width: 267px;
  margin-right: 24px;
  box-shadow: 0px 3px 14px 1px rgb(152 152 152 / 20%);
  background-color: #ffffff;
  padding: 26px 28px 15px 20px;
}

.catalog__block {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.catalog__block-img {
  display: block;
  margin: 0 auto;
  width: 203px;
  height: 143px;
  max-width: 100%;
}
.product__content {
  text-align: center;
  flex-grow: 1;
}
.catalog__block-title {
  font-size: 18px;
  line-height: 55px;
  font-weight: 700;
  color: #382400;
}
.catalog__block-text {
  font-family: Muller;
  font-size: 14px;
  line-height: 18px;
  color: #181a1a;
  margin-bottom: 17px;
}

.catalog__block-btn {
  width: 242px;
  height: 50px;
  background-color: #ffaf18;
}

.order {
  padding-bottom: 111px;
  background-image: url(../images/order_bg.png);
  background-repeat: no-repeat;
  background-position: top right;
}
.order__inner {
  display: flex;
  align-items: center;
}

.order__content {
  max-width: 384px;
  margin-right: 129px;
}

.order__content-title {
  font-size: 35px;
  line-height: 45px;
  font-weight: 800;
  color: #b99150;
  margin-bottom: 70px;
  margin-top: 62px;
}
.order__content-text {
  font-size: 16px;
  line-height: 24px;
  color: #b99150;
  max-width: 369px;
}

.order__form {
  max-width: 330px;
  margin-top: 123px;
}
.form__input {
  padding: 24px;
  font-size: 18px;
  line-height: 45px;
  width: 330px;
  height: 60px;
  border: 1px solid #b99150;
  margin-bottom: 24px;
}
input[type="text"]::placeholder {
  color: #cba86e;
}
.order__form-btn {
  width: 100%;
  height: 60px;
}

@media (max-width: 1220px) {
  .order {
    background-image: url(../images/order_bg.png);
    background-repeat: no-repeat;
    background-position: top right -90px;
  }
}
